*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 2, 46);
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(2, 2, 79);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
}

nav ul li a:hover{
    color: rgb(147, 147, 210);
    font-size: 1.02rem;
}

.leftSide{
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.firstSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-family: 'Poppins',sans-serif;
    font-size: 2.5rem;
}

.rightSection img{
    width: 80%;
}

#element{
    color: rgb(153, 46, 189);
}