*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 2, 46);
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(2, 2, 79);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
}

nav ul li a:hover{
    color: rgb(147, 147, 210);
    font-size: 1.02rem;
}

.leftSide{
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.firstSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-family: 'Poppins',sans-serif;
    font-size: 2.5rem;
}

.rightSection img{
    width: 80%;
}

.lavender{
    color: rgb(247, 75, 75);
    font-weight: bold;
}

/* .secondSection{
    margin: 20px 180px;
} */

.mainContent{
    margin: 20px 180px;
}

.heading{
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    
}

.contentHeadings{
    margin-top: 60px;
}

.aboutmeContent div{
    margin: 30px 0;
    font-size: 1.4rem;
    font-family: 'poppins',sans-serif;
}

.thirdSection hr{
    margin-top: 160px;
}

.myWorkContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.thirdLeftPanel{
    font-size: 2rem;
    margin-left: 40px;
}

.thirdRightPanel{
    font-size: 1.2rem;
    margin-right: 130px;
    margin-left: 300px; 
}

.liContent{
    font-size: 0.8rem;
}

.sideProjectDesc{
    font-size: 0.8rem;
    margin: 10px 0;
}

.contactForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}

.contactForm div{
    margin: 10px 0;
}

.contactForm div input{
    text-align: center;
    width: 600px;
    padding: 6px;
    border: 2px solid black;
    margin: 3px auto;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
}

.formSubmit{
    padding-left: 10px;
}

.contactForm div textarea{
    text-align: center;
    width: 600px;
    height: 100px;
    padding: 6px;
    border: 2px solid white;
    margin: 3px auto;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
}