* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(2, 2, 46);
    color: white;
}

html {
    scroll-behavior: smooth;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 2, 79);
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
}

.navbar-toggle {
    display: none;
}

nav ul li {
    list-style: none;
    padding: 1rem;

}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

nav ul li a:hover {
    color: rgb(247, 75, 75);
    font-size: 1.02rem;
}

main {
    margin: 80px 80px;
}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 50%;
}

.leftSection {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.rightSection img {
    width: 80%;
}

.lavender {
    color: rgb(247, 75, 75);
    font-weight: bold;
}

/* .secondSection{
    margin: 20px 180px;
} */

.mainContent {
    /* margin: 20px 180px; */
}

.heading {
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.contentHeadings {
    margin-top: 60px;
}

.socialMedia {
    margin: 30px 0;
}

.socialMedia i {
    margin-right: 20px;
}

.socialMedia i:hover {
    color: rgb(247, 75, 75);
}

.aboutmeContent{
    margin-top: 50px;
}

.aboutmeContent div {
    margin: 30px 0;
    font-size: 1.4rem;
    font-family: 'poppins', sans-serif;
}

.thirdSection hr {
    margin-top: 100px;
}

.myWorkContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.thirdLeftPanel {
    font-size: 2rem;
    margin-left: 40px;
}

.thirdRightPanel {
    font-size: 1.2rem;
    margin-right: 130px;
    margin-left: 300px;
}

.thirdRightPanel li a {
    text-decoration: none;
    color: white;
}

.thirdRightPanel li a:hover {
    text-decoration: none;
    color: rgb(247, 75, 75);
    font-size: 1.23rem;
}

.liContent {
    font-size: 0.8rem;
}

.sideProjectDesc {
    font-size: 0.8rem;
    margin: 10px 0;
}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}

.contactForm div {
    margin: 10px 0;
    text-align: center;
}

.contactForm div input {
    text-align: center;
    width: 100%;
    padding: 6px;
    border: 2px solid black;
    margin: 3px auto;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.contactForm div textarea {
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 6px;
    border: 2px solid white;
    margin: 3px auto;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

footer {
    background-color: rgb(247, 75, 75);
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}



@media (max-width: 767px) and (min-width: 320px) {
    nav ul {
        flex-wrap: wrap;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .active{
        display: block;
    }

    main {
        margin: 10px 2px;
    }

    .firstSection {
        flex-direction: column;
        width: 100%;
    }

    .firstSection>div {
        width: 100%;
    }

    .rightSection{
        display: none;
    }

    .leftSection {
        font-size: 2rem;
    }

    .leftSection div {
        font-size: 2rem;
    }

    .thirdSection hr{
        margin: 50px 50px;
    }

    .socialMedia{
        margin-left: 25px;
    }

    /* About Me */

    .heading hr{
        margin: 50px 50px;
    }

    .aboutmeContent div{
        font-size: 1.1rem;
        margin: 10px 5px;
    }


    /* My Work Section */

    .myWorkContent {
        flex-direction: column;
        align-items: start;
    }

    .contentHeadings{
        font-size: 1.8rem;
    }

    .thirdLeftPanel{
        font-size: 1.1rem;
        /* margin-left: 5px; */
        margin: auto;
    }

    .thirdRightPanel{
        font-size: 1rem;
        margin-right: 0px;
        margin-left: 5px;
        margin-top: 20px;
    }

    footer{
        font-size: 0.8rem;
    }
}

